@import './variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  min-height: 100vh;
  display: flex;  
  flex-direction: column;
  color: $white;
  background-color: $dark-gray;
}

.container {
  margin: 0 auto;
  max-width: 928px;
}