@import './variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  color: $white;
  background-color: $dark-gray;
  font-family: $gilroy-regular;
  z-index: -2;
}

.container {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: 96rem;
}