@import './fonts';

//fonts:
$gilroy-extrabold: 'Gilroy-ExtraBold';
$gilroy-bold: 'Gilroy-Bold';
$gilroy-semibold: 'Gilroy-SemiBold';
$gilroy-medium: 'Gilroy-Medium';
$gilroy-regular: 'Gilroy-Regular';

//colors:
$white: #ffffff;
$dark-gray: #272d3d;
$dark-blue: #302E5A;
$bright-blue: #4252D1;
$red: #ff3459;
