@import '../inc/variables';

.form-block {
  padding: 5.1rem 6rem;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 3 / 3;
  background-color: $midnight-blue;
  border-radius: 1rem;
  @include v-lg {
    padding: 4.1rem 2.1rem 4rem;
  }

  @include v-md {
    margin: 0.6rem auto 0;
    grid-area: auto;
    width: 100%;
    max-width: 34rem;
  }

  &__title {
    margin: 0;
    text-align: center;
    font-family: $gilroy-semibold;
    font-size: 2.2rem;
    line-height: 2.5991rem;
    @include v-lg {
      font-size: 2rem;
      line-height: 2.329rem;
    }
  }

  &__title > span {
    color: $red;
  }

  &__form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  &__form > input {
    padding: 1.4rem 2.2rem;
    font-size: 1.3rem;
    line-height: 2.4rem;
    color: $white;
    background-color: $dark-gray;
    border: none;
    border-radius: 0.5rem;
    &::placeholder {
      color: $white;
    }

    @include v-lg {
      font-size: 1.2rem;
      padding: 1.1rem 2.6rem;
    }
  }

  &__input-error {
    margin-top: -1rem;
    color: $red;
    display: none;
    font-size: 1.2rem;
  }

  &__button {
    padding: 1.7rem 2.2rem;
    color: $white;
    background-color: $red;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: $gilroy-semibold;
    @include v-md {
      margin: 0.2rem auto;
      padding: 1.4rem 3.5rem;
      max-width: 22.2rem;
      font-size: 1.4rem;
      background-color: $blue;
    }
  }

  &__privacy-policy {
    margin: 2rem auto 0;
    font-family: $gilroy-regular;
    font-size: 1.2rem;
    color: $white-transparent;
    text-align: center;
    max-width: 19rem;
    @include v-md {
      margin: 1.8rem auto 0;
      font-size: 1.1rem;
      line-height: 149%;
      max-width: 18rem;
    }
  }

  &__privacy-policy > a {
    color: inherit;
    line-height: 149%;
    text-underline-offset: 2px;
  }
}
