@import '../inc/variables';

.form-info {
  &__webinar {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    padding: 0.6rem 1.3rem 0.8rem 1.5rem;
    gap: 0.5rem;
    align-items: center;
    width: max-content;
    position: relative;
    font-size: 1.6rem;
    font-family: $gilroy-medium;
    background-color: $bright-blue;
    border-radius: 0.5rem;
    @include v-lg {
      font-size: 1.2rem;
      border-radius: 0.3rem;
      line-height: 2.4rem;
      padding: 0.45rem 1.1rem 0.45rem 1.1rem;
    }

    @include v-md {
      position: relative;
      left: -0.6rem;
      margin: 0.3rem auto;
    }
  }

  &__webinar > img {
    @include v-lg {
      width: 13px;
    }
  }

  &__webinar > span {
    @include v-lg {
      margin-top: 0.1rem;
      line-height: normal;
    }
  }

  &__title {
    margin: 0;
    color: $red;
    font-family: $gilroy-bold;
    text-transform: uppercase;
    font-size: 7.7rem;
    @include v-lg {
      font-size: 5.27rem;
    }

    @include v-md {
      font-size: 5.27rem;
      text-align: center;
      line-height: 115%;
    }
  }

  &__subtitle {
    margin-top: 0.5rem;
    margin-bottom: 0;
    position: relative;
    z-index: 1;
    font-size: 2.1949rem;
    font-family: $gilroy-semibold;
    @include v-lg {
      margin-top: 0.3rem;
      font-size: 1.5rem;
    }
  }

  &__subtitle > span {
    position: relative;
    top: 0.3rem;
    font-size: 2.36rem;
    margin: 0.813rem 2.4rem 0.813rem 1.34rem;
    font-family: $gilroy-semibold;
    @include v-lg {
      font-size: 1.6rem;
      margin: 0.813rem 1.8rem 0.813rem 2.9rem;
      line-height: 100%;
    }
  }

  &__subtitle > span::before {
    content: '';
    position: absolute;
    top: -0.7rem;
    transform: rotate(-3.506deg);
    display: block;
    width: 10.6721rem;
    height: 3.8694rem;
    background-color: $red;
    border-radius: 0.5rem;
    z-index: -1;
    @include v-lg {
      width: 7.626rem;
      height: 2.753rem;
      top: -0.5rem;
      left: -1rem;
    }
  }

  &__text {
    margin-top: 3.4rem;
    font-size: 1.8rem;
    font-family: $gilroy-regular;
    line-height: 148%;
    @include v-lg {
      margin-top: 2.4rem;
      font-size: 1.4rem;
    }

    @include v-md {
      text-align: center;
    }
  }

  &__text > span {
    font-family: $gilroy-semibold;
  }
}
