@import '../inc/variables';
@import '../inc/response';

.header {
  &__content {
    padding: 3.4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include v-md {
      padding: 2.8rem 0;
    }
  }

  &__logo {
    cursor: pointer;

    @include v-md {
      height: 3.2rem;
      flex: 10.1rem 0 0;
      margin-left: 1.4rem;
    }
  }

  &__logo > img {
    height: 100%;
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-family: $gilroy-medium;
    font-size: 1.4rem;

    @include v-md {
      gap: 0.6rem;
      font-size: 1.1rem;
    }
  }

  &__date,
  &__time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14.1rem;
    height: 4rem;
    background-color: $dark-blue;
    gap: 0.6rem;
    border-radius: 1rem;

    @include v-md {
      min-width: 8.4rem;
      padding: 0 0.8rem;
      width: auto;
      height: 2.4rem;
      border-radius: 0.6rem;
      gap: 0.35rem;
    }
  }

  &__date > img {
    @include v-md {
      width: 1.25rem;
    }
  }

  &__time > img {
    @include v-md {
      width: 1.24rem;
    }
  }
}
