.main {
  position: relative;
  z-index: 1;
  &__content {
    padding: 7.9rem 0 13.8rem;
    display: grid;
    grid-template-columns: 42.7rem 36.6rem;
    justify-content: space-between;
    gap: 3.6rem 0;

    @include v-lg {
      grid-template-columns: 38rem 32.6rem;
      gap: 3rem 0;
    }

    @include v-md {
      padding: 0 0 4.5rem;
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__bg-icons {
    position: absolute;
    top: 11.4rem;
    right: 2.2rem;
    z-index: -1;
    @include v-md {
      display: none;
    }
  }
}
