@import 'inc/normalize';
@import 'inc/fonts';
@import 'inc/variables';
@import 'inc/response';

//components
@import 'components/header';
@import 'components/main';
@import 'components/form-block';
@import 'components/form-info';
@import 'components/form-benefits';

//inc
@import 'inc/base';
@import 'inc/helpers';
